.background {
  background: #233a29;
}

.text {
  color: #f6f6f6;
}

.button {
  background-color: #3c7c5a;
  color: white;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 40px;
  position: absolute;
}

.headerText {
  opacity: 0.6;
}

.button:hover {
  opacity: 0.8;
}
